#labelespaco{
    margin-top: -30px;
}
#inputblock{
    background-color: #daf4fd;
}
hr {
    background-color:#c5d1d9;
    height: 1px;
   
}

#inforedefinirsenha{
    font-size:20px;
    text-align:center;
}

#cabecatabela{
    background-color:#3bafda;
    color:#ffffff;
}

#corLinkPesquisa{
    color:black;
}

#card-view{
    border: solid 1px #3bafda;
}

 /*#card-vieww:hover{
    box-shadow: 0 0 11px #3bafda;
}*/

#logando{
    width: 50px;
    height: 50px;
    margin-left: 150px;
    display: none;
}

.descricaoSugestao{
    margin-bottom: -30px;
}


.descricaoSugestao h5{
    text-align: center;
    font-size: medium;
}

.table-title{
    text-align: center;
    margin-top: -5px;
    margin-bottom: 10px;
    color:#3bafda;
}

.tabelaClicked:hover{
    background: #c8d9e8;
}

#cabeca-modal{
    background-color:#3bafda;
}

#cabeca-modal h4{
   color:white;
}

.SairGrupo{
    color:#fb4f4f;
}

.sairGrupo:hover{
    box-shadow: 0 0 11px #3bafda;
}

.proposta-rejeitada{
    color:#fb4f4f;
    font-size: 16px;
    margin-top: 10px;
    margin-left: -15px;
}

.proposta-aceite{
    color:#007c00;
    font-size: 16px;
    margin-top: 10px;
    margin-left: -15px;
}

.proposta-espera{
    color:#3bafda;
    font-size: 16px;
    margin-top: 10px;
    margin-left: -15px;
}

#icone_resultado_proposta{
    text-align: center;
}

#motivorejeicao{
    font-size: medium;
}

#entrada{
    background: #ebfaff;
}

.AcordeonLixeira{
    color:white;
}

.nao_edit{
    color:black;
    font-weight: bold;
}

.span{
    color:red;
    font-size: 12px;
}

.error{
    color:#fb4f4f;
}

.check{
    color:#007c00;
}

.waiting{
    color:orange;
}

.texto-predefesa{
    font-weight: bold;
}

.icon-texto-predefesa{
    color:rgb(20, 190, 20);
}

#input-provapublica{
    background-color: #f79eaa;
}

#input-provapublicaYes{
    background-color: #a3ffd4;
}


.dados-nao-fornecido{
    color:#f74848;
    font-size: 16px;
    margin-top: 10px;
    margin-left: -15px;
}